<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log2log" type="log2log.Configuration.LogConfigSection, log2log "/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <log2log>
    <settings>
      <setting name="log2log" path="Log\LogFile.txt" levelFilter="false"/>
    </settings>
  </log2log>
</configuration>
