<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log2log" type="log2log.Configuration.LogConfigSection, log2log "/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log2log>
    <folders>
      <add name="log2log" path="LogFile.txt" levelFilter="false"/>
    </folders>
  </log2log>
</configuration>